{{logged-header-component currentName=currentName }}
 <div class="container-fluid">
        <div class="row">
        
          <div class="col-lg-2  ">
            <h2>Clientes</h2>
          </div>

          <div class="col-lg-4 ">
            <h2>
              <div class="input-group">
                 {{input name="filtro" id="filtro" type="text" class="form-control" placeholder="Buscar cliente" value=filtro}}
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
              </div>
            </h2>
          </div>

          <div class="col-lg-2 ">
            <h2>
              <div class="input-group" aria-describedby="basic-addon2">
                <select class="form-control" name="page" id="page">
                  <option value="1">1</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>   
                <span class="input-group-addon" id="basic-addon2">Tam. Pag.</span>
              </div>
            </h2>
          </div>

          <div class="col-lg-2">
            <div id="alertMsg" class="alert alert-dismissible" role="alert" hidden>
              <button type="button" class="close" {{action "cerrarMsg"}} aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>{{msg.tipo}}</strong> {{msg.desc}}
            </div>
          </div>

          <div class="col-lg-1 ">
            <h2>
              <button class="btn btn-primary" {{action 'openModalResumen'}}type="submit">Resumen</button>
            </h2>
          </div>

          <div class="col-lg-1 ">
            <h2>
              <button class="btn btn-primary" {{action 'openModal' 'false'}} type="submit">Crear</button>

            </h2>
          </div>

        </div>


<div class="row ">
	{{vendedor-sidebar-component}}
	<div class="col-md-10">
		   <table class="table table-bordered table-hover table-condensed" id="clientes">	
        	<thead class="header-tabla">
        		<tr>
				    <th class="col-md-1" {{action "ordenarPor" "rif"}}>RIF<span id="th-rif" class="glyphicon glyphicon-chevron-down"></span></th>
				    <th class="col-md-2" {{action "ordenarPor" "nombre"}}>Nombre<span id="th-nombre" class="glyphicon glyphicon-chevron-down"></span></th>
				    <th class="col-md-1">Teléfonos</th>
				    <th class="col-md-1">Fax</th>
				    <th class="col-md-3">Dirección</th>
				    <th class="col-md-1">Act Ec</th>
				    <th class="col-md-2" {{action "ordenarPor" "cond_contrib"}}>Cond. Contrib.<span id="th-cond_contrib" class="glyphicon glyphicon-chevron-down"></span></th>
				    <th class="col-md-1">Editar</th>
  				</tr>
  			</thead>
  			<tbody id="tbody" class="text-center">
  			{{#each filter as |cliente|}}
  				<tr>
					<td class="col-tabla"><{{cliente.rif}}</td>
					<td class="col-tabla"><{{cliente.nombre}}</td>
					<td class="col-tabla"><{{cliente.tlf1}} <br> {{cliente.tlf2}} </td>
					<td class="col-tabla"><{{cliente.fax}}</td>
					<td class="col-tabla"><{{cliente.dire}}</td>
					<td class="col-tabla"><{{cliente.act_eco}}</td>
					<td class="col-tabla">{{cliente.cond_contrib}}</td>
					<td class="text-center"><button {{action 'openModal' 'true' cliente}} class="btn btn-default btn-xs">editar</button></td>
				</tr>
			{{/each}}
 			</tbody>
		</table>
		<div class="text-center">
		     <ul id="pagination" class="pagination-sm"></ul>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registrar Cliente</h4>
        <small class="form-text text-muted">* Campos requeridos</small>
      </div>
      <div class="modal-body">
       		
      	<form  id="formulario">
      		<div class="row">
      			<div class="col-md-6">
					<div class="form-group">
						<label>Rif</label><small class="form-text text-muted">* </small>
						<div class="input-group">
						  {{input name="rif" id="rif" type="text" class="form-control" placeholder="Rif Cliente" value=registro.rif}}
						  <span class="input-group-addon">{{fa-icon "user"}}</span>
						</div>

					</div>
				</div>

				<div class="col-md-6">
				<div class="form-group">
					<label>Nombre</label><small class="form-text text-muted">* </small>
					<div class="input-group input-group">
					  {{input name="nombre" type="text" class="form-control" placeholder="Nombre" value=registro.nombre}}
					  <span class="input-group-addon">{{fa-icon "user"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-12"></div> 

				<div class="col-md-12">
				<div class="form-group">
					<label>Dirección</label><small class="form-text text-muted">* </small>
					<div class="input-group input-group">
					  {{bs-textarea  name="dire" type="text" class="form-control" placeholder="Dirección" value=registro.dire}}
					  <span class="input-group-addon">{{fa-icon "map-marker"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-12"></div> 

				<div class="col-md-4">
				<div class="form-group">
					<label>Teléfono 1</label><small class="form-text text-muted">* </small>
					<div class="input-group input-group">
					  {{input name="tlf1" type="tel" class="form-control" placeholder="Teléfono 1" value=registro.tlf1}}
					  <span class="input-group-addon">{{fa-icon "phone"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-4">
				<div class="form-group">
					<label>Teléfono 2</label><small class="form-text text-muted"> </small>
					<div class="input-group input-group">
					  {{input name="tlf2" type="tel" class="form-control" placeholder="Teléfono 2" value=registro.tlf2}}
					  <span class="input-group-addon">{{fa-icon "phone"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-4">
				<div class="form-group">
					<label>Fax </label><small class="form-text text-muted"> </small>
					<div class="input-group input-group">
					  {{input name="fax" type="tel" class="form-control" placeholder="Fax" value=registro.fax}}
					  <span class="input-group-addon">{{fa-icon "phone"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-12"></div> 

				<div class="col-md-6">
				<div class="form-group">
					<label>Actividad Económica</label><small class="form-text text-muted"> </small>
					<div class="input-group input-group">
					  {{input name="act_eco" type="text" class="form-control" placeholder="Actividad Económica" value=registro.act_eco}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-6">
				<div class="form-group">
					<label>Condición contribuyente</label><small class="form-text text-muted"> </small>
					<div class="input-group input-group">
					  <select class="form-control" name="cond_contrib" id="selectcond">
					  	  <option disabled selected value="">Seleccione...</option>
					      <option value="Ordinario">Ordinario</option>
					      <option value="Especial">Especial</option>
					      <option value="Formal">Formal</option>
					    </select>
					  <span class="input-group-addon">{{fa-icon "user"}}</span>
					</div>
				</div>
				</div>

			
			</div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" id="submit-button" {{action 'save'}} class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

</div>





<!-- Modal Resumen-->
<div class="modal fade " id="myModalResumen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Resumen Clientes</h4>
      </div>
      <div class="modal-body" id="resumen">

            <div class="row">
            		<div class="col-md-12">
            			<h3 class="text-center"><strong>RESUMEN CLIENTES SISTELRED, C.A</strong></h3>
            			<h3 class="text-center"><small>{{fecha_resumen}}</small></h3>
            		</div>
            		<!-- MAYOR NRO DE PROYECTOS -->
		            <div class="col-md-12">
		            	<!--<div class="panel panel-default">
						  <div class="panel-body">
						    <h4 class="text-center"><strong> Mayor número de proyectos</strong></h4>
						  </div>
						</div>-->
						<h4 class="text-left"><strong> Mayor número de proyectos</strong></h4>
				    	<div class="table-responsive">
				        	<table class="table table-bordered table-condensed table-hover ">  
				            	<thead>
				                	<tr>
				                    	<th class="col-md-2">Rif</th>
				                    	<th class="col-md-3">Nombre</th>
				                    	<th class="col-md-3">Act. Eco</th>
				                    	<th class="col-md-2">Nro Proyectos</th>
				                    	<th class="col-md-2">Promedio Monto</th>
				                    </tr>
				                </thead>
				                <tbody  class="text-center">
				                    {{#each mayores_proyectos as |cliente|}}
				                    	<tr>
				                    		<td class="col-tabla">{{cliente.rif}}</td>
				                    		<td class="col-tabla">{{cliente.nombre}}</td>
				                    		<td class="col-tabla">{{cliente.act_eco}}</td>
				                    		<td class="col-tabla"><strong class="text-success">{{cliente.nro_proyectos}}</strong></td>
				                    		<td class="col-tabla">{{cliente.promedio_monto}}</td>
				                    		
				                    	</tr>
				                    {{/each}}
				                </tbody>
				            </table>
				        </div>
				    </div>




				    <!-- MENOR NRO DE PROYECTOS -->
				    <div class="col-md-12">
				    	<!--<div class="panel panel-default">
						  <div class="panel-body">
						    <h4 class="text-center"><strong> Menor número de proyectos</strong></h4>
						  </div>
						</div>-->
						<h4 class="text-left"><strong> Menor número de proyectos</strong></h4>
				    	<div class="table-responsive">
				        	<table class="table table-bordered table-condensed table-hover ">  
				            	<thead>
				                	<tr>
				                    	<th class="col-md-2">Rif</th>
				                    	<th class="col-md-3">Nombre</th>
				                    	<th class="col-md-3">Act. Eco</th>
				                    	<th class="col-md-2">Nro Proyectos</th>
				                    	<th class="col-md-2">Promedio Monto</th>
				                    </tr>
				                </thead>
				                <tbody  class="text-center">
				                    {{#each menores_proyectos as |cliente|}}
				                    	<tr>
				                    		<td class="col-tabla">{{cliente.rif}}</td>
				                    		<td class="col-tabla">{{cliente.nombre}}</td>
				                    		<td class="col-tabla">{{cliente.act_eco}}</td>
				                    		<td class="col-tabla"><strong class="text-danger">{{cliente.nro_proyectos}}</strong></td>
				                    		<td class="col-tabla">{{cliente.promedio_monto}}</td>
				                    		
				                    	</tr>
				                    {{/each}}
				                </tbody>
				            </table>
				        </div>
				    </div>



				    <!-- MAYOR MONTO TOTAL DE PROYECTOS -->
				    <div class="col-md-12">
				    	<!--<div class="panel panel-default">
						  <div class="panel-body">
						    <h4 class="text-center"><strong>Mayor monto total en proyectos</strong></h4>
						  </div>
						</div>-->
						<h4 class="text-left"><strong>Mayor monto total en proyectos</strong></h4>
				    	<div class="table-responsive">
				        	<table class="table table-bordered table-condensed table-hover ">  
				            	<thead>
				                	<tr>
				                    	<th class="col-md-2">Rif</th>
				                    	<th class="col-md-3">Nombre</th>
				                    	<th class="col-md-3">Act. Eco</th>
				                    	<th class="col-md-2">Nro Proyectos</th>
				                    	<th class="col-md-2">Monto Total</th>
				                    </tr>
				                </thead>
				                <tbody  class="text-center">
				                    {{#each mayores_montos as |cliente|}}
				                    	<tr>
				                    		<td class="col-tabla">{{cliente.rif}}</td>
				                    		<td class="col-tabla">{{cliente.nombre}}</td>
				                    		<td class="col-tabla">{{cliente.act_eco}}</td>
				                    		<td class="col-tabla">{{cliente.nro_proyectos}}</td>
				                    		<td class="col-tabla"><strong class="text-success">{{cliente.monto_total}}</strong></td>
				                    		
				                    	</tr>
				                    {{/each}}
				                </tbody>
				            </table>
				        </div>
				    </div>


				    <!-- MENOR MONTO TOTAL DE PROYECTOS -->
				    <div class="col-md-12">
				    	<!--<div class="panel panel-default">
						  <div class="panel-body">
						    <h4 class="text-center"><strong>Menor monto total en proyectos</strong></h4>
						  </div>
						</div>-->
						<h4 class="text-left"><strong>Menor monto total en proyectos</strong></h4>
				    	<div class="table-responsive">
				        	<table class="table table-bordered table-condensed table-hover ">  
				            	<thead>
				                	<tr>
				                    	<th class="col-md-2">Rif</th>
				                    	<th class="col-md-3">Nombre</th>
				                    	<th class="col-md-3">Act. Eco</th>
				                    	<th class="col-md-2">Nro Proyectos</th>
				                    	<th class="col-md-2">Monto Total</th>
				                    </tr>
				                </thead>
				                <tbody  class="text-center">
				                    {{#each menores_montos as |cliente|}}
				                    	<tr>
				                    		<td class="col-tabla">{{cliente.rif}}</td>
				                    		<td class="col-tabla">{{cliente.nombre}}</td>
				                    		<td class="col-tabla">{{cliente.act_eco}}</td>
				                    		<td class="col-tabla">{{cliente.nro_proyectos}}</td>
				                    		<td class="col-tabla"><strong class="text-danger">{{cliente.monto_total}}</strong></td>
				                    		
				                    	</tr>
				                    {{/each}}
				                </tbody>
				            </table>
				        </div>
				    </div>




				    <!-- MAYORES PROMEDIOS EN ENCUESTAS DE PROYECTOS -->
				    <div class="col-md-12">
				    	<!--<div class="panel panel-default">
						  <div class="panel-body">
						    <h4 class="text-center"><strong>Mayor promedio en encuestas</strong></h4>
						  </div>
						</div>-->
						<h4 class="text-left"><strong>Mayor promedio en encuestas</strong></h4>
				    	<div class="table-responsive">
				        	<table class="table table-bordered table-condensed table-hover ">  
				            	<thead>
				                	<tr>
				                    	<th class="col-md-2">Rif</th>
				                    	<th class="col-md-3">Nombre</th>
				                    	<th class="col-md-3">Act. Eco</th>
				                    	<th class="col-md-2">Nro Encuestas</th>
				                    	<th class="col-md-2">Promedio Encuestas</th>
				                    </tr>
				                </thead>
				                <tbody  class="text-center">
				                    {{#each mayores_encuestas as |cliente|}}
				                    	<tr>
				                    		<td class="col-tabla">{{cliente.rif}}</td>
				                    		<td class="col-tabla">{{cliente.nombre}}</td>
				                    		<td class="col-tabla">{{cliente.act_eco}}</td>
				                    		<td class="col-tabla">{{cliente.nro_encuestas}}</td>
				                    		<td class="col-tabla"><strong class="text-success">{{cliente.promedio_encuestas}}</strong> /5</td>
				                    		
				                    	</tr>
				                    {{/each}}
				                </tbody>
				            </table>
				        </div>
				    </div>


				    <!-- MENORES PROMEDIOS EN ENCUESTAS DE PROYECTOS -->
				    <div class="col-md-12">
				    	<!--<div class="panel panel-default">
						  <div class="panel-body">
						    <h4 class="text-center"><strong>Menor promedio en encuestas</strong></h4>
						  </div>
						</div>-->
						<h4 class="text-left"><strong>Menor promedio en encuestas</strong></h4>
				    	<div class="table-responsive">
				        	<table class="table table-bordered table-condensed table-hover ">  
				            	<thead>
				                	<tr>
				                    	<th class="col-md-2">Rif</th>
				                    	<th class="col-md-3">Nombre</th>
				                    	<th class="col-md-3">Act. Eco</th>
				                    	<th class="col-md-2">Nro Encuestas</th>
				                    	<th class="col-md-2">Promedio Encuestas</th>
				                    </tr>
				                </thead>
				                <tbody  class="text-center">
				                    {{#each menores_encuestas as |cliente|}}
				                    	<tr>
				                    		<td class="col-tabla">{{cliente.rif}}</td>
				                    		<td class="col-tabla">{{cliente.nombre}}</td>
				                    		<td class="col-tabla">{{cliente.act_eco}}</td>
				                    		<td class="col-tabla">{{cliente.nro_encuestas}}</td>
				                    		<td class="col-tabla"><strong class="text-danger">{{cliente.promedio_encuestas}}</strong> /5</td>
				                    		
				                    	</tr>
				                    {{/each}}
				                </tbody>
				            </table>
				        </div>
				    </div>



              </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" {{action 'generarPDF'}}>PDF</button>
      </div>
    </div>
  </div>
</div>


