{{logged-header-component currentName=currentName }}
 <div class="container-fluid">
        <div class="row">
        
          <div class="col-lg-2  ">
            <h2>Proyecto</h2>
          </div>

        </div>

        <div class="row ">
			{{vendedor-sidebar-component}}
          	<div class="col-md-10">

          	<!--
          	<div class="panel panel-default">
	  			<div class="panel-body">
	    			<div class="row">
	    				<div class="col-md-12">

	    					<div class="well">
		    					<div class="page-header">
								  <h4>Example page header <small>Subtext for header</small></h4>
								</div>
								<p>apdasdasdadasdasds</p>
	    					</div>
	    				</div>
	    				<div class="col-md-6">
	    					<div class="well">
	    					</div>
	    				</div>
	    				<div class="col-md-6">
	    					<div class="well">
	    					</div>
	    				</div>
	    			</div>
	  			</div>
			</div>
			-->

	    			<div class="well jumbo-color">
  						<div class="row">
	    					<div class="col-md-12 ">

								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">Detalles</h3>
									</div>
						  			<div class="panel-body">
										
						  				<div class="row">
						  					<div class="col-sm-6">
						  						<h4>{{proyecto.nombre}}<small>{{proyecto.codigo}}</small></h4>
						  						<h4><small>{{proyecto.ubicacion}}</small></h4>
						  						<p>{{proyecto.desc}}</p>
						  					</div>
						  					<div class="col-sm-6">
						  						<h4> {{proyecto.cliente.nombre}}  <small>{{proyecto.cliente.rif}}</small></h4>
						  						<h4><small>{{proyecto.cliente.act_eco}}</small></h4>
						  						<h4><small>{{proyecto.cliente.dire}}</small></h4>
						  						<h4>Contacto   <small>Pedro Perez, pperez@gmail.com, 0141-5487487</small></h4>
						  					</div>

						  				</div>

						  			</div>
						  		</div>

	    					</div>

	    					<div class="col-md-6">

	    						<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">Presupuesto(s)</h3>
									</div>
						  			<div class="panel-body">
						  				<ul class="list-group">
						  				{{#each proyecto.presupuestos as |presupuesto|}}
						  					 <li class="list-group-item" {{action 'openModalPresupuesto' presupuesto false}}>

	    										{{fa-icon "file-text"}} 
	    										<strong>Presupuesto:</strong> {{presupuesto.codigo}} 
	    										{{#if presupuesto}}
	    											<button  class="btn btn-success btn-xs" {{action 'openModalPresupuesto' presupuesto true bubbles=false}}> 
	    											{{fa-icon "pencil-square-o"}} editar
	    											</button> 
	    										{{/if}}

	    										
	    										<span class="badge">{{presupuesto.estatus}}</span>
											
											</li>
										{{/each}}
										</ul>
						  			</div>
						  		</div>

	    					</div>

	    					<div class="col-md-6">

	    						<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">Causa Rechazo</h3>
									</div>
						  			<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>
						  			</div>
						  		</div>

	    					</div>
	    			</div>

	</div>
				


				<!--

  					<div class="row jumbo-color">
	    				<div class="col-md-12 ">

							<div class="panel panel-default">
					  			<div class="panel-body">
					  				<div class="page-header">
								  		<h4>Example page header <small>Subtext for header</small></h4>
									</div>
									<p>apdasdasdadasdasds</p>
					  			</div>
					  		</div>
	    				</div>
	    				<div class="col-md-6">
	    					<div class="panel panel-default">
					  			<div class="panel-body">
					  			</div>
					  		</div>
	    				</div>
	    				<div class="col-md-6">
	    					<div class="panel panel-default">
					  			<div class="panel-body">
					  			</div>
					  		</div>
	    				</div>
	    			</div>
				-->


          </div>
        </div>
</div>




<!-- Modal Presupuesto-->
<div class="modal fade " id="myModalPresupuesto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalPresupuestoLabel">Presupuesto</h4>
        <small class="form-text text-muted"></small>
      </div>

      <div class="modal-body">
      	<form  id="formulario">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-12 well">
            <div class="col-md-8">
              <ul class="ul-presupuesto">
                <li><b>Sistelred, C.A</b></li>
                <li><b>Rif J-30994445-2</b></li>
                <li>Caracas, {{presupuesto.fecha_m}}</li>
                <li><b>Cotización a:</b> {{proyecto.cliente.rif}}, {{proyecto.cliente.nombre}}, Tlf:{{proyecto.cliente.tlf1}}</li>
                <br>
              </ul>
            </div>
            <div class="col-md-4">
            <ul class="ul-presupuesto">
                <li ><b>Cotización Nro:</b> {{presupuesto.codigo}}</li>
            </ul>
            </div>
            <div class="col-md-12">
              <ul class="text-center ul-presupuesto">
                <li >
                	<div class="row">
                {{#if editing}}
                	
                	<div class="col-sm-6">
                	 <b>Atención: </b>
                	<div class="form-group">
                	 {{input name="atencion_n" id="atencion_n" type="text" class="form-control" placeholder="Atención Nombre" value=pe.atencion_n}}
                	 </div>
                	 </div>
                {{else}}
                	<b>Atención: </b>  {{presupuesto.atencion_n}}
                {{/if}}
               
                {{#if editing}}
                	<div class="col-sm-6">
                	 <b>Email: </b>
                	<div class="form-group">
                	{{input name="atencion_e" id="atencion_e" type="text" class="form-control" placeholder="Atención Correo" value=pe.atencion_e}}
                	</div>
                	</div>
                	
                {{else}}
                	 <b>Email: </b>   {{presupuesto.atencion_e}}
                {{/if}}
                </div>
                </li>
              </ul>
            </div>
            <div class="col-md-12">
              <ul class=" ul-presupuesto">
                <li>

                {{#if editing}}
                	<b>Descripción: </b> 
                	<div class="form-group">
                	{{textarea name="desc" id="desc" type="text" class="form-control" placeholder="Descripción Presupuesto" value=pe.desc}}
                	</div>
                {{else}}
                	{{presupuesto.desc}}
                {{/if}}


                </li>
              </ul>
            </div>
            </div>
            <div class="col-md-12 well">
               <div class="col-md-12">
               <table class="table table-bordered table-hover " id="tabla">  
                  <thead class="header-tabla">
                    <tr>
                      <th class="col-md-1" {{action "ordenarPor" "codigo" false}}>Código<span id="th-codigo1" class="glyphicon glyphicon-chevron-down"></span></th>
                      <th>Descripción</th>
                      <th class="col-md-1">Cantidad</th>
                      <th class="col-md-2">Precio Unitario</th>
                      <th class="col-md-2" {{action "ordenarPor" "precio_total"}}>Precio Total</th>
                    </tr>
                  </thead>
                  <tbody id="tbody" class="text-center">
                    {{#each ecs as |elemento|}}
                    <tr >
                      <td class="col-tabla">{{elemento.codigo}}</td>
                      <td class="col-tabla"><{{elemento.desc}}</td>
                      <td class="col-tabla">{{elemento.cantidad}} </td>
                      <td class="col-tabla"> {{elemento.precio_venta}}</td>
                      <td class="col-tabla" name="precio_total" id="pt_{{elemento.codigo}}">{{elemento.precio_total}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
                </div>

            </div>

            <div class="col-md-6 well col-pre-observ">
              <ul class="ul-presupuesto">
                <li ><b>Observaciones </b></li>
                <li>
                  <p>
                  
	                {{#if editing}}
	                	<div class="form-group">
	                	{{textarea name="observ" id="observ" type="text" class="form-control" placeholder="Observaciones Presupuesto" value=pe.observ}}
	                	</div>
	                {{else}}
	                	{{presupuesto.observ}}
	                {{/if}}
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-6 well col-pre-observ">
               <dl class="dl-horizontal">
                    <dt>Subtotal 1:</dt> <dd>Bs. <span id="subtotal1">0.0</span></dd>
                    <dt>Descuento ({{presupuesto.descuento}}%):</dt> <dd>Bs. <span id="descuento">0.0</span></dd>
                    <dt>Subtotal Final:</dt> <dd>Bs. <span id="subtotalfinal">0.0</span></dd>
                    <dt>I.V.A (12%):</dt> <dd>Bs. <span id="iva">0.0</span></dd>
                    <dt>TOTAL:</dt> <dd>Bs. <span id="total">0.0</span></dd>
                </dl>
            </div>
             <div class="col-md-12 well">
              <ul class="ul-presupuesto">
              <div class="row">
                  	<li ><b>Condiciones Generales </b></li>
                  	<li><p>

		                {{#if editing}}
		                
		                	<div class="col-sm-12">
		                	<div class="form-group">
		                	{{input name="cond_g" id="cond_g" type="text" class="form-control" placeholder="Condiciones Generales" value=pe.cond_g}}
		                	</div>
		                	</div>
		                	
		                {{else}}
		                	{{presupuesto.cond_g}}
		                {{/if}}

                  	</p></li>

                  	<li ><b>Validez de la oferta </b></li>
                  	<li><p>

	                  	{{#if editing}}
	                  		<div class="col-sm-12">
		                	<div class="form-group">
		                	{{input name="validez_o" id="validez_o" type="text" class="form-control" placeholder="Validez Oferta" value=pe.validez_o}}
		                	</div>
		                	</div>
		                {{else}}
		                	{{presupuesto.validez_o}} Días hábiles
		                {{/if}}

                  	</p></li>

                  	<li ><b>Precios </b> </li>
                  	<li>

	                    {{#if editing}}
	                    	<div class="col-sm-12">
		                	<div class="form-group">
		                	{{input name="cond_p" id="cond_p" type="text" class="form-control" placeholder="Condiones de Precios" value=pe.cond_p}}
		                	</div>
		                	</div>
		                {{else}}
		                	{{presupuesto.cond_p}}
		                {{/if}}

                	</li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </form>
      </div>




      <div class="modal-footer">
      {{#if editing}}
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" id="submit-button" {{action 'guardar' presupuesto}} class="btn btn-primary">Guadar</button>
      {{else}}
      	procesar pdf
      {{/if}}
      </div>
    </div>
  </div>
</div>