{{logged-header-component currentName=currentName }}
 <div class="container-fluid">
        <div class="row">
        
          <div class="col-lg-2  ">
            <h2>Solicitudes</h2>
          </div>

          <div class="col-lg-4 ">
            <h2>
              <div class="input-group">
                 {{input name="cliente" id="cliente" type="text" class="form-control" placeholder="Buscar solicitud" value=registro.usuario}}
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
              </div>
            </h2>
          </div>

          <div class="col-lg-4 "></div>

          <div class="col-lg-1 ">
            <h2>
            </h2>
          </div>

          <div class="col-lg-1 ">
            <h2>
              <button class="btn btn-primary" {{action 'openModal' 'false'}} type="submit">Crear</button>

            </h2>
          </div>

        </div>


<div class="row ">
	{{vendedor-sidebar-component}}
	<div class="col-md-10">

  <table class="table table-bordered table-hover" id="solicitudes">  
          <thead class="header-tabla">
            <tr>
            <th class="col-md-1">Código</th>
            <th class="col-md-1">Cliente</th>
            <th class="col-md-4">Descripción</th>
            <th class="col-md-1">Fecha</th>
            <th class="col-md-1">Ubicación</th>
            <th class="col-md-1">Estatus</th>
            <th class="col-md-1">Contacto</th>
            <th class="col-md-1">Disponibilidad</th>
            <th class="col-md-1">Referencia</th>
          </tr>
        </thead>
        <tbody id="tbody" class="text-center">
        {{#each solicitudes as |solicitud|}}
          <tr>
          <td  class="col-tabla">{{solicitud.codigo}}</td>
          <td  class="col-tabla">{{format-atrib 'solicitud_cliente' solicitud.rif_c clientes}}</td>
          <td class="col-tabla">{{solicitud.desc}} </td>
          <td class="col-tabla">{{solicitud.f_sol}} </td>
         <td  class="col-tabla">{{solicitud.ubicacion}}</td>
          <td  class="col-tabla">{{format-atrib 'solicitud_estatus' solicitud.estatus}}</td>
          <td  class="col-tabla">
           <!-- <ul>
              <li>Nombre: {{solicitud.nombre_cc}}</li>
              <li>Cargo: {{solicitud.cargo_cc}}</li>
              <li>Correo: {{solicitud.correo_cc}}</li>
              <li>Teléfono: {{solicitud.tlf_cc}}</li>
            </ul>-->

            <strong>Nombre:</strong> {{solicitud.nombre_cc}}
            <strong>Cargo:</strong> {{solicitud.cargo_cc}}
            <strong>Correo:</strong> {{solicitud.correo_cc}}
            <strong>Tlf:</strong> {{solicitud.tlf_cc}}
          </td>
          <td  class="col-tabla">{{solicitud.disp}}</td>
          <td  class="col-tabla">{{solicitud.referido_p}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>

	</div>
</div>


</div>

<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nueva Solicitud</h4>
        <small class="form-text text-muted">* Campos requeridos</small>
      </div>
      <div class="modal-body">
          
        <form  id="formulario">

        <!-- SECCION CLIENTE -->
          <div class="row">
            <div class="col-md-1"> </div>
            <div class="col-md-10 well">
            <h3>Cliente</h3>

              <div class="form-group">
                <div class="row">
                  <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <label>Rif</label><small class="form-text text-muted"></small>
                  </div>
                  <div class="col-md-8">
                    <div class="input-group">
                      {{input name="rif_c" id="rif_c" readonly="true" type="text" class="form-control" placeholder="Rif Cliente" value=solicitud.rif_c}}
                      <span class="input-group-addon">{{fa-icon "user"}}</span>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <label>Nombre</label><small class="form-text text-muted"></small>
                  </div>
                  <div class="col-md-8">
                    <div class="input-group">
                      {{input name="nombre_c" id="nombre_c" type="text" class="form-control" placeholder="Nombre Cliente" value=nombre_c}}
                      <span class="input-group-addon">{{fa-icon "user"}}</span>
                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  </div>
                </div>
              </div>
            </div>
          <div class="col-md-1"></div>
        </div>


        <!-- SECCION ESPECIFICACIONES -->
        <div class="row">
              <div class="col-md-1"> </div>
              <div class="col-md-10 well">
              <h3>Especificaciones</h3>

                <div class="form-group">
                  <div class="row">
                    <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                      <label>Detalles Iniciales</label><small class="form-text text-muted"></small>
                    </div>
                     <div class="col-md-1"></div>
                     </div>
                     <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                      <div class="input-group">
                        {{textarea name="desc" id="desc" type="text" class="form-control" placeholder="Descripción requerimiento" value=solicitud.desc}}
                        <span class="input-group-addon">{{fa-icon "user"}}</span>
                      </div>
                    </div>
                     <div class="col-md-1"></div>
                     </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                      <label>Ubicacion</label><small class="form-text text-muted"></small>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group"><div class="errores"></div>
                        {{input name="ubicacion" id="ubicacion" type="text" class="form-control" placeholder="Ubicación requerimiento" value=solicitud.ubicacion}}
                        <span class="input-group-addon">{{fa-icon "user"}}</span>
                      </div>
                    </div>
                    <div class="col-md-1"></div>
                  </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                      <label>Disp. <br> Atención</label><small class="form-text text-muted"></small>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group">
                        {{input name="disp" id="disp" type="text" class="form-control" placeholder="Disponibilidad de atención" value=solicitud.disp}}
                        <span class="input-group-addon">{{fa-icon "user"}}</span>
                      </div>
                    </div>
                    <div class="col-md-1"></div>
                    </div>
                  </div>
                </div>

                 <div class="form-group">
                  <div class="row">
                    <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                      <label>Referido <br> Por</label><small class="form-text text-muted"></small>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group">
                        {{input name="referido_p" id="referido_p" type="text" class="form-control" placeholder="Referencia" value=solicitud.referido_p}}
                        <span class="input-group-addon">{{fa-icon "user"}}</span>
                      </div>
                    </div>
                    <div class="col-md-1"></div>
                    </div>
                  </div>
                </div>

          </div>
          <div class="col-md-1"></div>
<!--
          <div class="col-md-10">
          <div class="form-group">
            <label>Condición contribuyente</label><small class="form-text text-muted"> </small>
            <div class="input-group input-group">
              <select class="form-control" name="cond_contrib" id="selectcond">
                  <option disabled selected value="">Seleccione...</option>
                  <option value="o">Ordinario</option>
                  <option value="e">Especial</option>
                  <option value="f">Formal</option>
                </select>
              <span class="input-group-addon">{{fa-icon "user"}}</span>
            </div>
          </div>
          </div>-->
        </div>
        <!-- SECCION CLIENTE -->

        <div class="row">
            <div class="col-md-1"> </div>
            <div class="col-md-10 well">
            <h3>Persona Contacto</h3>

            <div class="form-group">
              <div class="row">
                <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <label>Nombre</label><small class="form-text text-muted"></small>
                </div>
                <div class="col-md-5">
                  <label>Cargo</label><small class="form-text text-muted"></small>
                </div>
                 <div class="col-md-1"></div>
                 </div>
                 <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <div class="input-group">
                    {{input name="nombre_cc" id="nombre_cc" type="text" class="form-control" placeholder="Nombre contacto" value=solicitud.nombre_cc}}
                    <span class="input-group-addon">{{fa-icon "user"}}</span>
                  </div>
                  <small class="form-text text-muted"></small>
                </div>
                <div class="col-md-5">
                  <div class="input-group">
                    {{input name="cargo_cc" id="cargo_cc" type="text" class="form-control" placeholder="Cargo contacto" value=solicitud.cargo_cc}}
                    <span class="input-group-addon">{{fa-icon "user"}}</span>
                  </div>
                  <small class="form-text text-muted"></small>
                </div>
                 <div class="col-md-1"></div>
                 </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <label>Teléfono</label><small class="form-text text-muted"></small>
                </div>
                <div class="col-md-5">
                  <label>Correo</label><small class="form-text text-muted"></small>
                </div>
                 <div class="col-md-1"></div>
                 </div>
                 <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <div class="input-group">
                    {{input name="tlf_cc" id="tlf_cc" type="text" class="form-control" placeholder="Teléfono contacto" value=solicitud.tlf_cc}}
                    <span class="input-group-addon">{{fa-icon "user"}}</span>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="input-group">
                    {{input name="correo_cc" id="correo_cc" type="text" class="form-control" placeholder="Correo contacto" value=solicitud.correo_cc}}
                    <span class="input-group-addon">{{fa-icon "user"}}</span>
                  </div>
                </div>
                 <div class="col-md-1"></div>
                 </div>
              </div>
            </div>        
            </div>
          <div class="col-md-1"></div>
        </div>

        <!-- SECCION REFERENCIA-->

    </form>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" id="submit-button" {{action 'save'}} class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
