{{logged-header-component currentName=currentName }}
 <div class="container-fluid">
        <div class="row">
        
          <div class="col-lg-2  ">
            <h2>Proyecto</h2>
          </div>
          <div class="col-lg-10">
            <div id="alertMsg" class="alert alert-dismissible" role="alert" hidden>
              <button type="button" class="close" {{action "cerrarMsg"}} aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>{{msg.tipo}}</strong> {{msg.desc}}
            </div>
          </div>
        </div>

        <div class="row ">
			    {{coordinador-sidebar-component}}
          <div class="col-md-10">
          <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
              <li role="presentation"><a href="#tecnicos" aria-controls="tecnicos" role="tab" data-toggle="tab">Técnico(s)</a></li>
              <li role="presentation"><a href="#etapas" aria-controls="etapas" role="tab" data-toggle="tab">Etapas</a></li>
              <li role="presentation"><a href="#listado" aria-controls="listado" role="tab" data-toggle="tab">Listado Materiales</a></li>
              <li role="presentation"><a href="#solicitudesmat" aria-controls="solicitudesmat" role="tab" data-toggle="tab">Solicitudes de Material</a></li>
              <li role="presentation"><a href="#presupuesto" aria-controls="presupuesto" role="tab" data-toggle="tab">Presupuesto(s)</a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

              <!-- GENERAL-->
              <div role="tabpanel" class="tab-pane active" id="general">
                

              <div class="well jumbo-color">
                <div class="row">
                  <div class="col-md-12 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">Detalles Proyecto <strong>{{proyecto.estatus}} </strong>

                          </h3>
                        </div>
                        <div class="panel-body">
                        
                          <div class="row">
                            <div class="col-sm-6">
                              <h4>{{proyecto.nombre}}</h4>
                              <h4><small>{{proyecto.codigo}}</small></h4>
                              <h4><small>{{proyecto.ubicacion}}</small></h4>
                              <p class="text-justify">{{proyecto.desc}}</p>
                            </div>
                            <div class="col-sm-6">
                              <div class="panel panel-default">
                                <div class="panel-body">
                                  <div class="row">
                                    <div class="col-md-6">
                                     <strong> Inicio: </strong> el {{proyecto.f_inicio}}
                                    </div>
                                    <div class="col-md-6">
                                      <strong> Estimado: </strong> para el {{proyecto.f_estimada}}
                                    </div>
                                    <div class="col-md-12">
                                    <div class="alert alert-warning text-center" role="alert">
                                        <h1> {{proyecto.t_faltante}}</h1>
                                        <small class="text-muted">según fecha estimada</small>
                                    </div>
                                    </div>
                                    <div class="col-lg-12">
                                      <h3 class="text-center">Progreso</h3>
                                      <div class="progress">
                                        <div id="progreso" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                            {{progreso_porcentaje}}%
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>

                        </div>
                        <div class="panel-footer">
                          <div class="row">
                          <div class="col-sm-9"></div>
                            <div class="col-sm-3">
                              <button class="btn btn-primary" {{action 'openModalGeneral'}} type="submit">Editar</button>
                              <button class="btn btn-primary" {{action 'iniciarCulminarProyecto'}} type="submit">{{accion}}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>


              <!-- Técnicos-->
              <div role="tabpanel" class="tab-pane" id="tecnicos">
                

              <div class="well jumbo-color">
                <div class="row">
                  <div class="col-md-12 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">Técnicos Proyecto

                          </h3>
                        </div>
                        <div class="panel-body">
                           <div class="row">
                              <div class="col-md-12">
                                <table class="table table-bordered table-hover " id="tabla_tecnicos">  
                                  <thead class="header-tabla">
                                    <tr>
                                      <th class="col-md-2">C.I</th>
                                      <th class="col-md-4"> Nombre Técnico</th>
                                      <th class="col-md-2">Teléfono</th>
                                      <th class="col-md-2">Correo</th>
                                       <th class="col-md-1">Seleccionar</th>
                                    </tr>
                                  </thead>
                                  <tbody id="tbody" class="text-center">
                                    {{#each tecnicos as |tecnico|}}
                                    {{#if tecnico.mostrar_asociado}}
                                    <tr>
                                      <td class="col-tabla">{{tecnico.ci}}</td>
                                      <td class="col-tabla"><{{tecnico.nombre}}</td>
                                      <td class="col-tabla">{{tecnico.tlf}}</td>
                                      <td class="col-tabla">{{tecnico.correo}}</td>
                                      <td > <input type="checkbox" value="{{tecnico.ci}}"></td>
                                    </tr>
                                    {{/if}}
                                    {{/each}}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                          <div class="row">
                          <div class="col-sm-5"></div>

                            <div class="col-sm-3">
                              <button class="btn btn-default pull-right" {{action 'eliminarTecnicosSeleccionados'}} type="submit">Eliminar Seleccionados</button>      
                            </div>
                            <div class="col-sm-2">
                              <button class="btn btn-primary pull-right" {{action 'openModalTecnicos'}} type="submit">Agregar Técnico</button>
                            </div>
                            <div class="col-sm-2">
                              <button class="btn btn-primary pull-right" {{action 'guardarTecnicos'}} type="submit">Guardar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <!--ETAPAS-->
              <div role="tabpanel" class="tab-pane" id="etapas">
                <div class="well jumbo-color">
                <div class="row">
                  <div class="col-md-12 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">Etapas Proyecto</h3>
                        </div>
                        <div class="panel-body">
                        
                          <div class="row">
                            <div class="col-sm-12">
                               <table class="table table-bordered table-hover " id="tabla">  
                                <thead class="header-tabla">
                                  <tr>
                                    <th class="col-md-1">Código</th>
                                    <th >Nombre</th>
                                    <th >Estado</th>
                                    <th class="col-md-2">F. est</th>
                                    <th class="col-md-1">Reporte Detalle</th>
                                    <th class="col-md-1">Reportes</th>
                                    <th class="col-md-1">Actividades</th>
                                    <th class="col-md-1">Editar</th>
                                    <th class="col-md-1">Accion</th>
                                  </tr>
                                </thead>
                                <tbody id="tbody" class="text-center">
                                  {{#each proyecto.etapas as |etapa|}}
                                  <tr>
                                    <td class="col-tabla">{{etapa.letra}}</td>
                                    <td class="col-tabla"><{{etapa.nombre}}</td>
                                    <td class="col-tabla">{{etapa.estatus}}</td>
                                    <td class="col-tabla">
                                      {{etapa.f_est}}
                                    </td>
                                    <td >
                                    {{#if etapa.codigo_rd}}
                                      <button {{action 'openModalReporteDetalle' etapa}} class="btn btn-default btn-xs">ver</button>
                                    {{else}}
                                      N/A
                                    {{/if}}
                                    </td>
                                    <td >
                                      <button {{action 'openModalReportes' etapa}} class="btn btn-default btn-xs">ver</button>
                                    </td>
                                    <td >
                                      <button {{action 'openModalActividades' etapa}} class="btn btn-default btn-xs">ver</button>
                                    </td>
                                    <td >
                                      <button {{action 'openModalEtapa' etapa true}} class="btn btn-default btn-xs">editar</button>
                                    </td>
                                    <td >
                                      <button {{action 'accionEtapa' etapa}} class="btn btn-default btn-xs">{{etapa.accion}}</button>
                                    </td>
                                  </tr>
                                  {{/each}}
                                </tbody>
                                </table>
                            </div>
                          </div>

                        </div>
                        <div class="panel-footer">
                          <div class="row">
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3">
                              <button class="btn btn-primary" {{action 'llenarReporteDetalle'}} type="submit">Llenar reporte detalle</button>
                              <button class="btn btn-primary" {{action 'openModalEtapa' null false}} type="submit">Crear Etapa</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="listado">
                <div class="well jumbo-color">
                  <div class="panel panel-default" id="disponibles">

                      <div class="panel-heading">
                        Materiales Disponibles
                      </div>
                       <div class="panel-body">
                            <div class="row">
                              <div class="col-md-12">
                                <table class="table table-bordered table-hover">  
                                <thead class="header-tabla">
                                  <tr>
                                    <th class="col-md-2">Código</th>
                                    <th >Nombre</th>
                                    <th >Desc</th>
                                    <th class="col-md-1">Cantidad</th>
                                  </tr>
                                </thead>
                                <tbody id="tbody" class="text-center">
                                  {{#each materiales_disponibles as |material|}}
                                  <tr>
                                    <td class="col-tabla">{{material.codigo_mat}}</td>
                                    <td class="col-tabla"><{{material.nombre}}</td>
                                    <td class="col-tabla">{{material.desc}}</td>
                                    <td class="col-tabla">{{material.cant}}</td>
                                  </tr>
                                  {{/each}}
                                </tbody>
                                </table>
                              </div>
                            </div>
                       </div>
                        <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12">
                              <button class="btn btn-primary pull-right" {{action 'generarPDF' 'disponibles'}} type="submit">Exportar PDF</button>
                            </div>
                        </div>
                        </div>
                    </div>

                     <div class="panel panel-default" id="usados">

                      <div class="panel-heading">
                        Materiales Usados
                      </div>
                       <div class="panel-body">
                            <div class="row">
                              <div class="col-md-12">
                                <table class="table table-bordered table-hover">  
                                <thead class="header-tabla">
                                  <tr>
                                    <th class="col-md-2">Código</th>
                                    <th >Nombre</th>
                                    <th >Desc</th>
                                    <th class="col-md-1">Cantidad</th>
                                  </tr>
                                </thead>
                                <tbody id="tbody" class="text-center">
                                  {{#each materiales_usados_totales as |material|}}
                                  <tr>
                                    <td class="col-tabla">{{material.codigo_mat}}</td>
                                    <td class="col-tabla"><{{material.nombre}}</td>
                                    <td class="col-tabla">{{material.desc}}</td>
                                    <td class="col-tabla">{{material.cant}}</td>
                                  </tr>
                                  {{/each}}
                                </tbody>
                                </table>
                              </div>
                            </div>
                       </div>
                        <div class="panel-footer">
                         <div class="row">
                            <div class="col-sm-12">
                              <button class="btn btn-primary pull-right" {{action 'generarPDF' 'usados'}} type="submit">Exportar PDF</button>
                            </div>
                        </div>
                        </div>
                    </div>


                    <div class="panel panel-default" id="material_etapas">

                      <div class="panel-heading">
                        Materiales usados por etapas
                      </div>
                       <div class="panel-body">
                       {{#each materiales_usados_etapas as |etapa|}}
                           <div class="panel panel-default">

                            <div class="panel-heading">
                             <p><strong>Etapa: </strong>{{etapa.letra}}<strong>Nombre:</strong>{{etapa.nombre}}</p>
                            </div>
                             <div class="panel-body">
                                 <div class="row">
                              <div class="col-md-12">
                                <table class="table table-bordered table-hover">  
                                <thead class="header-tabla">
                                  <tr>
                                    <th class="col-md-2">Código</th>
                                    <th >Nombre</th>
                                    <th >Desc</th>
                                    <th class="col-md-1">Cantidad</th>
                                  </tr>
                                </thead>
                                <tbody id="tbody" class="text-center">
                                  {{#each etapa.materiales as |material|}}
                                  <tr>
                                    <td class="col-tabla">{{material.codigo_mat}}</td>
                                    <td class="col-tabla"><{{material.nombre}}</td>
                                    <td class="col-tabla">{{material.desc}}</td>
                                    <td class="col-tabla">{{material.cant}}</td>
                                  </tr>
                                  {{/each}}
                                </tbody>
                                </table>
                              </div>
                            </div>
                             </div>
                             </div>
                       {{/each}}
                           
                       </div>
                        <div class="panel-footer">
                         <div class="row">
                            <div class="col-sm-12">
                              <button class="btn btn-primary pull-right" {{action 'generarPDF' 'material_etapas'}} type="submit">Exportar PDF</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>






              <!--SOLICITUDES DE MATERIAL-->

              <div role="tabpanel" class="tab-pane" id="solicitudesmat">
                <div class="well jumbo-color">
                  <div class="panel panel-default">

                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-lg-9">
                          <h4>
                            Solicitudes de material
                          </h4>
                        </div>
                        <div class="col-lg-3">
                          <h6>
                          <button class="btn btn-primary" {{action 'agregarMaterialSolicitud' }} type="submit">Agregar Material</button>
</h6>
                           <h6>
                          <button class="btn btn-primary" {{action 'guardarSolicitud' }} type="submit">Guardar Solicitud</button>
                          </h6>
                          <div class="input-group">
                {{input name="nombre" type="text" class="form-control" placeholder="Codigo material" value=prueba.codigo_mat}}
                <span class="input-group-addon">{{fa-icon "user"}}</span>
              </div>
              <div class="input-group">
                {{input name="nombre" type="text" class="form-control" placeholder="Cantidad Material" value=prueba.cant}}
                <span class="input-group-addon">{{fa-icon "money"}}</span>
              </div>
                        </div>
                      </div>
                    </div>

                    <div class="panel-body">          
                      <div class="row">
                        

                      <div class="col-md-12">
                      <table class="table table-bordered table-hover " id="tabla">  
                        <thead class="header-tabla">
                          <tr>
                            <th class="col-md-2">Técnico</th>
                            <th class="col-md-2"> Fecha Solicitud</th>
                            <th class="col-md-1">Etapa</th>
                            <th class="col-md-1">Autorizada</th>
                             <th class="col-md-1">Completada</th>
                            <th class="col-md-1">Detalles Materiales</th>
                          </tr>
                        </thead>
                        <tbody id="tbody" class="text-center">
                          {{#each proyecto.solicitudes as |solicitud|}}
                          <tr>
                            <td class="col-tabla">{{solicitud.nombre_t}}, VE-{{solicitud.ci_tecnico}}</td>
                            <td class="col-tabla"><{{solicitud.f_sol}}</td>
                             <td class="col-tabla">{{solicitud.letra_eta}}</td>
                             <td class="col-tabla">{{#if solicitud.autorizado}} Autorizada {{else}} No Autorizada{{/if}}</td>
                            <td class="col-tabla">
                              {{#if solicitud.completado}} Completada {{else}} No Completada{{/if}}
                            </td>
                            <td ><button {{action 'openModalSolicitud' solicitud}} class="btn btn-default btn-xs">Ver</button></td>
                          </tr>
                          {{/each}}
                        </tbody>
                      </table>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--PRESUPUESTOS-->
              <div role="tabpanel" class="tab-pane" id="presupuesto">
                <div class="well jumbo-color">
                  <div class="panel panel-default">

                    <div class="panel-heading">
                      <div class="row">
                        <div class="col-lg-9">
                          <h4>
                            Presupuestos
                          </h4>
                        </div>
                        <div class="col-lg-3">
                          <h6>
                          <button class="btn btn-primary" {{action 'openModalPresupuesto' false}} type="submit">Solicitar Presupuesto</button>
                          </h6>
                        </div>
                      </div>
                    </div>

                    <div class="panel-body">          
                      <div class="row">
                        

                      <div class="col-md-12">
                      <table class="table table-bordered table-hover " id="tabla">  
                        <thead class="header-tabla">
                          <tr>
                            <th class="col-md-2" {{action "ordenarPor" "codigo" true}}>Código<span id="th-codigo" class="glyphicon glyphicon-chevron-down"></span></th>
                            <th {{action "ordenarPor" "desc" true}}>Descripción<span id="th-desc" class="glyphicon glyphicon-chevron-down"></span></th>
                            <th class="col-md-1"{{action "ordenarPor" "fecha" true}}>Fecha<span id="th-fecha" class="glyphicon glyphicon-chevron-down"></span></th>
                            <th class="col-md-1"{{action "ordenarPor" "estatus" true}}>Estado<span id="th-estatus" class="glyphicon glyphicon-chevron-down"></span></th>
                            <th class="col-md-1">Detalles</th>
                          </tr>
                        </thead>
                        <tbody id="tbody" class="text-center">
                          {{#each proyecto.presupuestos as |presupuesto|}}
                          <tr>
                            <td class="col-tabla">{{presupuesto.codigo}}</td>
                            <td class="col-tabla"><{{presupuesto.desc}}</td>
                            <td class="col-tabla">{{presupuesto.fecha}}</td>
                            <td class="col-tabla">{{presupuesto.estatus}}</td>
                            <td ><button {{action 'openModalPresupuesto' true presupuesto}} class="btn btn-default btn-xs">Abrir</button></td>
                          </tr>
                          {{/each}}
                        </tbody>
                      </table>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>



          </div>
          </div>
		    </div>
</div>










<!-- Modal GENERAL-->
<div class="modal fade " id="myModalGeneral" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edicion Detalles Generales</h4>
      </div>
      <div class="modal-body">
          
        <div class="row">
        <div class="col-md-12">
          <form  id="formulario_pg">
            <div class="row">
              <div class="col-md-12">
            <div class="form-group">
              <label>Nombre </label><small class="form-text text-muted">* </small>
              <div class="input-group">
                {{input name="nombre" id="nombre_pg" type="text" class="form-control" placeholder="Nombre del Proyecto" value=pg.nombre}}
                <span class="input-group-addon">{{fa-icon "user"}}</span>
              </div>

            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label>Descripción </label><small class="form-text text-muted">* </small>
              <div class="input-group">
                {{textarea name="desc" id="desc_pg" type="text" class="form-control" placeholder="Descripción general del proyecto" value=pg.desc}}
                <span class="input-group-addon">{{fa-icon "user"}}</span>
              </div>

            </div>
          </div>

          
          <div class="col-md-6">
          <div class="form-group">
            <label>Ubicación</label><small class="form-text text-muted"> </small>
            <div class="input-group">
              {{input name="ubicacion" type="text" class="form-control" placeholder="Ubicación del Proyecto" value=pg.ubicacion}}
              <span class="input-group-addon">{{fa-icon "map-marker"}}</span>
            </div>
          </div>
          </div>

          <div class="col-md-6">
          <div class="form-group">
            <label>Fecha estimada </label><small class="form-text text-muted">*</small>
            <div class="input-group">
              {{input name="f_est" type="date" class="form-control" placeholder="Fecha estimada de finalización" value=pg.f_est}}
              <span class="input-group-addon">{{fa-icon "calendar"}}</span>
            </div>
          </div>
          </div>

          
             <div class="col-md-12">
            <div class="form-group">
              
              <div class="input-group">
                {{input name="f_hoy" id="f_hoy_pg" type="hidden" class="form-control" value=pe.f_hoy}}

              </div>
            </div>
            </div>



        </div>
      </form>
        </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" {{action 'guardarProyectoGeneral'}}>Guardar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal Tecnicos-->
<div class="modal fade " id="myModalTecnicos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tecnicos</h4>
      </div>
      <div class="modal-body">
          
        <div class="row">
        <div class="col-md-12">
          <form >
            <div class="row">

                <table class="table table-bordered table-hover " id="tabla_tecnicos_ss">  
                  <thead class="header-tabla">
                    <tr>
                      <th class="col-md-2">C.I</th>
                      <th class="col-md-4"> Nombre Técnico</th>
                      <th class="col-md-2">Teléfono</th>
                      <th class="col-md-2">Correo</th>
                       <th class="col-md-1">Seleccionar</th>
                    </tr>
                  </thead>
                  <tbody id="tbody" class="text-center">
                    {{#each tecnicos as |tecnico|}}
                    {{#unless tecnico.mostrar_asociado}}
                    <tr>
                      <td class="col-tabla">{{tecnico.ci}}</td>
                      <td class="col-tabla">
                      {{tecnico.nombre}}
                      </td>
                      <td class="col-tabla">{{tecnico.tlf}}</td>
                      <td class="col-tabla">{{tecnico.correo}}</td>
                      <td > <input type="checkbox" value="{{tecnico.ci}}"></td>
                    </tr>
                    {{/unless}}
                    {{/each}}
                  </tbody>
                </table>

              </div>
            </form>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" {{action 'agregarTecnico'}}>Agregar</button>
      </div>
    </div>
  </div>
</div>







<!-- Modal Etapas-->
<div class="modal fade " id="myModalEtapa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Etapa</h4>
      </div>
      <div class="modal-body">
          
        <div class="row">
        <div class="col-md-12">
          <form  id="formulario_pe">
            <div class="row">

            <div class="col-md-6">
            <div class="form-group">
              <label>Letra </label><small class="form-text text-muted">* </small>
              <div class="input-group">
                {{input type="text" class="form-control" value=pe.letra disabled="true"}}
                <span class="input-group-addon">{{fa-icon "user"}}</span>
              </div>

            </div>
            </div>

            <div class="col-md-6">
            <div class="form-group">
              <label>Fecha Estimada </label><small class="form-text text-muted">*</small>
              <div class="input-group">
                {{input name="f_est" type="date" class="form-control" value=pe.f_est}}
                <span class="input-group-addon">{{fa-icon "calendar"}}</span>
              </div>
            </div>
            </div>

            <div class="col-md-12">
            <div class="form-group">
              <label>Nombre </label><small class="form-text text-muted">* </small>
              <div class="input-group">
                {{input name="nombre" type="text" class="form-control" placeholder="Nombre de la etapa" value=pe.nombre}}
                <span class="input-group-addon">{{fa-icon "user"}}</span>
              </div>

            </div>
            </div>

             <div class="col-md-12">
            <div class="form-group">
              
              <div class="input-group">
                {{input name="f_hoy" id="f_hoy" type="hidden" class="form-control" value=pe.f_hoy}}

              </div>
            </div>
            </div>

              </div>
            </form>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" {{action 'guardarEtapa'}}>Guardar</button>
      </div>
    </div>
  </div>
</div>






<!-- MODAL SOLICITUDES DE MATERIAL-->
<div class="modal fade " id="myModalSolicitudes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Solicitud Detalle Material</h4>
      </div>
      <div class="modal-body">
          
        <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">  
              <thead class="header-tabla">
                <tr>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
              <tbody>
                {{#each solicitud.materiales as |material|}}
                <tr>
                  <td class="col-tabla">{{material.codigo_mat}}</td>
                  <td class="col-tabla">{{material.nombre_mat}}</td>
                  <td class="col-tabla">{{material.desc_mat}}</td>
                  <td class="col-tabla">{{material.cant}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <div id="solicitudMsg" class="alert alert-dismissible" role="alert">
            <strong>{{disponibilidad_material.tipo}}:</strong> {{disponibilidad_material.msg}}
          </div>
        </div>
        {{#if disponibilidad_material.sin_disponibilidad}}
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <table class="table">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Cantidad Solicitada</th>
              <th>Cantidad Inventario</th>
            </tr>
          </thead>
          <tbody>
            {{#each disponibilidad_material.materiales as |material|}}
            <tr>
                <td>{{material.codigo_mat}}</td>
                <td>{{material.nombre_mat}}</td>
                <td>{{material.desc_mat}}</td>
                <td>{{material.cantidad_solicitada}}</td>
                <td>{{material.cantidad_inventario}}</td>
            </tr>
            {{/each}}
          </tbody>
          </table>
        </div>
         <div class="col-md-1"></div>
         {{/if}}
        </div>
      </div>
       <div class="modal-footer">
        <button class="btn btn-primary" {{action 'aprobarSolicitud' solicitud}}>Aprobar</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal REPORTE DETALLE-->
<div class="modal fade " id="myModalReporteDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reporte Detalle</h4>
      </div>
      <div class="modal-body">
          
        <div class="row">
          

            <div class="col-md-6 ">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Persona que atendió visita</h3>
                </div>
                <div class="panel-body">
                  <dl class="dl-horizontal">
                    <dt>Nombre - Cargo</dt> <dd>{{reporte_detalle.persona_a}} - {{reporte_detalle.cargo_a}}</dd>
                  </dl> 
                </div>
              </div>
            </div>

            <div class="col-md-6 "> 
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Técnico</h3>
                </div>
                <div class="panel-body">
                  <dl class="dl-horizontal">
                    <dt>Nombre</dt> <dd>{{reporte_detalle.nombre_t}}</dd>   
                  </dl>
                </div>
              </div>
            </div>

            <div class="col-md-12 ">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Observaciones</h3>
                </div>
                <div class="panel-body"> 
                  <p>{{reporte_detalle.observ}}</p>
                </div>
              </div>
            </div>

              <div class="col-md-12 ">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Vicios Ocultos</h3>
                </div>
                <div class="panel-body">
                  <p>{{reporte_detalle.vicios_ocu}}</p>
                </div>
              </div>
            </div>







        </div>

      </div>
    </div>
  </div>
</div>



<!-- Modal REPORTES-->
<div class="modal fade " id="myModalReportes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reportes</h4>
      </div>
      <div class="modal-body">
          
        <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
          {{#each etapa.reportes as |reporte|}}
            <li data-toggle="collapse" data-target="#collapse{{reporte.codigo}}" aria-expanded="false" aria-controls="collapse{{reporte.codigo}}" class="list-group-item">

  
            <strong>{{reporte.nombre_t}}</strong>
            <small class="text-muted">{{reporte.fecha}}</small>
            <strong class="text-success">{{reporte.estado}}</strong>


            <span class="badge">{{reporte.tipo}}</span>
            </li>
            <div class="collapse" id="collapse{{reporte.codigo}}">
              <div class="well">
                    {{reporte.observ}}
                
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                        <table class="table">
                        <thead>
                          <tr>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each reporte.servicios as |servicio|}}
                          <tr>
                              <td>{{servicio.codigo}}</td>
                              <td>{{servicio.desc}}</td>
                              <td>{{servicio.cantidad}}</td>
                          </tr>
                          {{/each}}
                        </tbody>
                        </table>
                      </div>
                      <div class="col-md-1"></div>
                    </div>
                         
              </div>
              <div class="row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                  <input type="checkbox" value="{{reporte.codigo}}"><span> Leido</span>
                </div>
              </div>
            </div>
          {{/each}}
          </ul>  
        </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" {{action 'guardarReportesLeidos'}}>Marcar Leidos</button>
        <button class="btn btn-primary" {{action 'crearReporte' proyecto.etapas}}>Guardar</button>
      </div>
    </div>
  </div>
</div>





<!-- Modal Actividades-->
<div class="modal fade " id="myModalActividades" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Actividades</h4>
      </div>
      <div class="modal-body">
          
        <div class="row">
        <div class="col-md-12">
          {{#if sin_actividades}}
             <div class="page-header">
                  <h3>Definición de actividades</h3>
                  <p>Esta etapa no tiene actividades definidas, a continuación deberá definirlas según se requiera y basándose en el contenido del reporte de detalle, una vez que finalice debe oprimir el botón guardar. <strong> Esta definición solo puede hacerce una vez. No se puede editar las actividades despues de guardadas. Adicionalmente debe esta COMPLETADO el reporte de detalle para poder guardarlas.</strong></p>
              </div>

                <ul class="list-group">
                  {{#each nuevas_actividades as |actividad|}}
                    <li data-toggle="collapse" data-target="#collapse_act{{actividad.nro}}" aria-expanded="false" aria-controls="collapse_act{{actividad.nro}}" class="list-group-item">
                    <button type="button" class="close" aria-label="Close" {{action 'eliminarActividad' actividad bubbles=false}}>
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <strong> Actividad Nro: {{actividad.nro}}</strong>
                    </li>
                    <div class="collapse" id="collapse_act{{actividad.nro}}">
                      <div class="well">
                            {{actividad.desc}}
                      </div>
                    </div>
                  {{/each}}
                </ul>  
                <form id="formulario_na">
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                    <label>Nro </label><small class="form-text text-muted"></small>
                    <div class="input-group">
                      {{input name="nro" type="text" class="form-control" value=na.nro disabled="true"}}
                    </div>
                    </div>
                  </div>

                  <div class="col-md-10">
                    <div class="form-group">
                    <label>Descripción </label><small class="form-text text-muted"></small>
                    <div class="input-group">
                      {{input name="desc" type="text" class="form-control" value=na.desc}}
                      <span class="input-group-addon">{{fa-icon "bars"}}</span>
                    </div>

                    </div>
                  </div>

                </div>
                </form>
              <button class="btn btn-primary pull-right" {{action 'agregarActividad'}}>Añadir Actividad</button>
          {{else}}
             <ul class="list-group">
                  {{#each etapa.actividades as |actividad|}}
                    <li data-toggle="collapse" data-target="#collapse_act{{actividad.nro}}" aria-expanded="false" aria-controls="collapse_act{{actividad.nro}}" class="list-group-item">
                    <strong> Actividad Nro: {{actividad.nro}}</strong>
                    {{#if actividad.completada}}
                      <span class="badge">Completada</span>
                    {{else}}
                      <span class="badge">Pendiente</span>
                    {{/if}}
                    </li>
                    <div class="collapse" id="collapse_act{{actividad.nro}}">
                      <div class="well">
                            {{actividad.desc}}
                      </div>
                    </div>
                  {{/each}}
              </ul>  
          {{/if}}
        </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" {{action 'guardarActividades'}}>Guardar</button>
      </div>
    </div>
  </div>
</div>
















<!-- Modal Presupuesto-->
<div class="modal fade " id="myModalPresupuesto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalPresupuestoLabel">Presupuesto</h4>
        <small class="form-text text-muted"></small>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

            <div class="col-md-12 well">
            <div class="col-md-8">
              <ul class="ul-presupuesto">
                <li><b>Sistelred, C.A</b></li>
                <li><b>Rif J-30994445-2</b></li>
                <li>Caracas, {{presupuesto.fecha_m}}</li>
                <li><b>Cotización a:</b> {{proyecto.cliente.rif}}, {{proyecto.cliente.nombre}}, Tlf:{{proyecto.cliente.tlf1}}</li>
                <br>
              </ul>
            </div>
            <div class="col-md-4">
            <ul class="ul-presupuesto">
                <li ><b>Cotización Nro:</b> {{presupuesto.codigo}}</li>
            </ul>
            </div>
            <div class="col-md-12">
              <ul class="text-center ul-presupuesto">
                <li ><b>Atención: </b> {{presupuesto.atencion_n}}, <b>Email: </b>{{presupuesto.atencion_e}}</li>
              </ul>
            </div>
            <div class="col-md-12">
              <ul class=" ul-presupuesto">
                <li >{{presupuesto.desc}}</li>
              </ul>
            </div>
            </div>
            <div class="col-md-12 well">
               <div class="col-md-12">
               <table class="table table-bordered table-hover " id="tabla">  
                  <thead class="header-tabla">
                    <tr>
                      <th class="col-md-1" {{action "ordenarPor" "codigo" false}}>Código<span id="th-codigo1" class="glyphicon glyphicon-chevron-down"></span></th>
                      <th>Descripción</th>
                      <th class="col-md-1">Cantidad</th>
                      <th class="col-md-2">Precio Unitario</th>
                      <th class="col-md-2" {{action "ordenarPor" "precio_total"}}>Precio Total</th>
                      <th class="col-md-1">Selección</th>
                    </tr>
                  </thead>
                  <tbody id="tbody" class="text-center">
                    {{#each ecs as |elemento|}}
                    <tr >
                      <td class="col-tabla">{{elemento.codigo}}</td>
                      <td class="col-tabla"><{{elemento.desc}}</td>
                      <td class="col-tabla">
                        <input type="number" class="form-control input-sm" id="cantidad_{{elemento.codigo}}" value="{{elemento.cantidad}}"  min="0" {{action 'calcularPrecioTotal' elemento.codigo on='change'}}>
                      </td>
                      <td class="col-tabla">
                        <input type="number" class="form-control input-sm" id="pu_{{elemento.codigo}}" value="{{elemento.precio_act}}"  min="0" {{action 'calcularPrecioTotal' elemento.codigo on='change'}}>
                      </td>
                      <td class="col-tabla" name="precio_total" id="pt_{{elemento.codigo}}"  value="{{elemento.precio_total}}" >{{elemento.precio_total}}</td>
                      <td><input type="checkbox" value={{elemento.codigo}}></td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                  <h2>
                    <div class="input-group" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2">Tipo</span>
                      <select class="form-control" name="anadir" id="anadir">
                        <option value="servicio" selected>Servicio</option>
                        <option value="material">Material</option>
                      </select>   
                    </div>
                  </h2>
                </div>
                <div class="col-lg-7 ">
                  <h2>
                    <button class="btn btn-default" {{action 'eliminarElementos'}}>Eliminar Seleccionados</button>
                    <button class="btn btn-primary" {{action 'openModalAgregarMS'}}>Añadir</button>
                    <button class="btn btn-primary" {{action 'calcularMontoTotal'}}>Calcular Total</button>
                  </h2>
                </div>

            </div>

            <div class="col-md-6 well col-pre-observ">
              <ul class="ul-presupuesto">
                <li ><b>Observaciones </b></li>
                <li>
                  <p>
                  {{presupuesto.observ}}
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-md-6 well col-pre-observ">
               <dl class="dl-horizontal">
                    <dt>Subtotal 1:</dt> <dd>Bs. <span id="subtotal1">0.0</span></dd>
                    <dt>Descuento ({{presupuesto.descuento}}%):</dt> <dd>Bs. <span id="descuento">0.0</span></dd>
                    <dt>Subtotal Final:</dt> <dd>Bs. <span id="subtotalfinal">0.0</span></dd>
                    <dt>I.V.A (12%):</dt> <dd>Bs. <span id="iva">0.0</span></dd>
                    <dt>TOTAL:</dt> <dd>Bs. <span id="total">0.0</span></dd>
                </dl>
            </div>
             <div class="col-md-12 well">
              <ul class="ul-presupuesto">

                  <li ><b>Condiciones Generales </b></li>
                  <li><p>{{presupuesto.cond_g}}</p></li>

                  <li ><b>Validez de la oferta </b></li>
                  <li><p> {{presupuesto.validez_o}} Días hábiles</p></li>

                  <li ><b>Precios </b> </li>
                  <li>
                    <p>
                      {{presupuesto.cond_p}}
                    </p>
                  </li>

                  <li ><b>Tiempo de Entrega </b> </li>
                  <li><p>{{presupuesto.t_ent}}</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" id="submit-button" {{action 'procesarPresupuesto'}} class="btn btn-primary">Procesar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal MATERIALES-->
<div class="modal fade " id="myModalMateriales" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Materiales</h4>
      </div>
      <div class="modal-body">
          
        <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">  
              <thead class="header-tabla">
                <tr>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Características</th>
                  <th>Marca / Modelo</th>
                  <th>Seleccionar</th>
                </tr>
              </thead>
              <tbody>
                {{#each mss as |material|}}
                <tr>
                  <td class="col-tabla">{{material.codigo}}</td>
                  <td class="col-tabla">{{material.nombre}}</td>
                  <td class="col-tabla">{{material.desc}}</td>
                  <td class="col-tabla">

                    <strong>Color:  </strong> {{material.color}} <br>
                    <strong>Serial: </strong> {{material.serial}} <br>

                  </td>
                  <td class="col-tabla">{{material.marca}} / {{material.modelo}}</td>
                  <td><input type="checkbox" value={{material.codigo}}></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button  {{action 'agregarElementos' 'material'}} class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>





<!-- Modal SERVICIOS-->
<div class="modal fade " id="myModalServicios" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Servicios</h4>
      </div>
      <div class="modal-body">
          
        <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">  
              <thead class="header-tabla">
                <tr>
                  <th>Código</th>
                  <th>Descripción</th>
                  <th>Precio act</th>
                  <th>Seleccionar</th>
                </tr>
              </thead>
              <tbody>
                {{#each sss as |servicio|}}
                <tr>
                  <td class="col-tabla">{{servicio.codigo}}</td>
                  <td class="col-tabla">{{servicio.desc}}</td>
                  <td class="col-tabla">{{servicio.precio_act}}</td>
                  <td><input type="checkbox" value={{servicio.codigo}}></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button  {{action 'agregarElementos' 'servicio'}} class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>























<!-- Modal ACTA ENTREGA ETAPA-->
<div class="modal fade " id="myModalActaEntrega" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Acta de Entrega</h4>
      </div>
      <div class="modal-body" id="modalActaEntrega">
          
        <div class="row">
        <div class="col-md-6">Caracas,{{acta_entrega.fecha}}</div>
        <div class="col-md-8"></div>


          <div class="col-md-12">
              <h2 class="text-center">ACTA DE ENTREGA</h2>

          </div>


          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Proyecto: </dt> <dd> <span >{{acta_entrega.codigo_pro}} <br> {{acta_entrega.nombre_pro}}</span></dd>
              <dt>Etapa: </dt> <dd><span>{{acta_entrega.codigo_eta}} <br>  {{acta_entrega.nombre_eta}}</span></dd>
            </dl>
          </div>



          <div class="col-md-12">
            <p class="text-justify">Por medio de la presente hacemos constar la entreta de los siguientes trabajos utilizando los materiales y servicios a entera satisfacción del cliente, los mismos fueron instalados y se encuentran totalmente operativos.</p>
          </div>


          <div class="col-md-12">
            <h5 class="text-center"><strong>Actividades</strong></h5>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-3">Nro</th>
                  <th class="col-md-19">Descripción</th>
                </tr>
              </thead>
              <tbody>
                {{#each acta_entrega.actividades as |actividad|}}
                <tr>
                    <td class="col-tabla">{{actividad.nro}}</td>
                    <td class="col-tabla">{{actividad.desc}}</td>
                </tr>
                {{/each}}
              </tbody>
              </table>
          </div>
          <div class="col-md-1"></div>

          <div class="col-md-12"></div>

           <div class="col-md-12">
            <h5 class="text-center"><strong>Materiales y/o Servicios</strong></h5>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-3">Código</th>
                  <th class="col-md-8">Descripción</th>
                  <th class="col-md-1">Cantidad</th>
                </tr>
              </thead>
              <tbody>
                {{#each acta_entrega.elementos as |elemento|}}
                <tr>
                    <td class="col-tabla">{{elemento.codigo}}</td>
                    <td class="col-tabla">{{elemento.desc}}</td>
                    <td class="col-tabla">{{elemento.cantidad}}</td>
                </tr>
                {{/each}}
              </tbody>
              </table>
          </div>
          <div class="col-md-1"></div>



          <div class="col-md-12">
            <p  class="text-justify"><strong>NOTA:</strong>Este documento indica la recepción definitiva de los trabajos realizados a entera satisfacción de <strong>{{acta_entrega.nombre_cliente}}</strong> liberando cualquier fianza o retención generada como producto del fiel cumplimiento, presentada por la empresa <strong>SISTELRED, C.A</strong> y aceptados por el cliente.</p>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                Por el Cliente: <strong>{{acta_entrega.nombre_cliente}}</strong>
              </div>
              <div class="panel-body">
                <p>Nombre:</p>
                <p>Cargo:</p>
                <p>Firma:</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                Por <strong>SISTELRED, C.A</strong>
              </div>
              <div class="panel-body">
                <p>Nombre:</p>
                <p>Cargo:</p>
                <p>Firma:</p>
              </div>
            </div>
          </div>
          



        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button  {{action 'generarPDFActa' 'Entrega' 'modalActaEntrega'}} class="btn btn-primary">PDF</button>
      </div>
    </div>
  </div>
</div>