{{logged-header-component currentName=currentName }}
 <div class="container-fluid">
        <div class="row">
        
          <div class="col-lg-2  ">
            <h2>Proyectos</h2>
          </div>

          <div class="col-lg-3 ">
            <h2>
              <div class="input-group">
                 {{input name="filtro" id="filtro" type="text" class="form-control" placeholder="Filtrar proyecto" value=filtro}}
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
              </div>
            </h2>
          </div>

          <div class="col-lg-2 ">
            <h2>
              <div class="input-group" aria-describedby="basic-addon2">
                <select class="form-control" name="page" id="page">
                  <option value="1">1</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>   
                <span class="input-group-addon" id="basic-addon2">Tam. Pag.</span>
              </div>
            </h2>
          </div>



        </div>


<div class="row ">
	{{coordinador-sidebar-component}}
	<div class="col-md-10">
		   <table class="table table-bordered table-hover " id="tabla">	
        	<thead class="header-tabla">
        		<tr>
				    <th {{action "ordenarPor" "codigo"}}>Código <span id="th-codigo" class="glyphicon glyphicon-chevron-down"></span></th>
				    <th {{action "ordenarPor" "nombre"}}>Nombre <span id="th-nombre" class="glyphicon glyphicon-chevron-down"></span></th>
				    <th{{action "ordenarPor" "nombre_c"}} >Cliente <span id="th-nombre_c" class="glyphicon glyphicon-chevron-down"></span></th>
				    <th{{action "ordenarPor" "estatus"}} >Estado<span id="th-estatus" class="glyphicon glyphicon-chevron-down"></span></th>
				    <th>Rep. Inicial</th>
				    <th>Detalles</th>
  				</tr>
  			</thead>
  			<tbody id="tbody" class="text-center">
  			{{#each filter as |proyecto|}}
  				<tr>
					<td class="col-tabla">{{proyecto.codigo}}</td>
					<td class="col-tabla"><{{proyecto.nombre}}</td>
					<td class="col-tabla">{{proyecto.nombre_c}}</td>
					<td class="col-tabla">{{proyecto.estatus}}</td>
          {{#if proyecto.codigo_ri}} 
          <td> <button {{action 'openModal' proyecto}} class="btn btn-default btn-xs">Abrir</button> </td>
          {{else}}
          <td class="col-tabla"> No Disponible</td>
          {{/if}}
					<td >
          {{#link-to 'proyectos.proyecto' proyecto.codigo}}<button  class="btn btn-default btn-xs" {{bindAttr href="view.href"}}>Info</button> {{/link-to}}
          </td>
				</tr>
			{{/each}}
 			</tbody>
		</table>
    <div class="text-center">
     <ul id="pagination" class="pagination-sm"></ul>
     </div>
	</div>
</div>

</div>



<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Solicitud código</h4>
        <small class="form-text text-muted">{{solicitud.codigo}}</small>
      </div>
      <div class="modal-body">
          
          <div class="row">

            <div class="col-md-6 ">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Persona que atendió la visita técnica</h3>
                </div>
                <div class="panel-body">
                  <dl class="dl-horizontal">
                    <dt>Nombre - Cargo</dt> <dd>{{reporte_ini.persona_a}} - {{reporte_ini.cargo_a}}</dd>
                    <!--<dt>Cargo</dt> <dd>{{reporte_ini.cargo_a}}</dd>-->
                  </dl> 
                </div>
              </div>
            </div>

            <div class="col-md-6 "> 
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Técnico</h3>
                </div>
                <div class="panel-body">
                  <dl class="dl-horizontal">
                    <dt>Nombre</dt> <dd>{{reporte_ini.nombre_t}}</dd>   
                  </dl>
                </div>
              </div>
            </div>
              </div>
             <div class="row">
            <div class="col-md-12 ">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Detalles de la visita técnica</h3>
                  <small class="form-text "><strong>fecha visita {{reporte_ini.fecha_visita_mostrar}}</strong></small>
                </div>
                <div class="panel-body">
                  <pre><p>{{reporte_ini.desc}}</p></pre>
                </div>
              </div>
            </div>

             </div>
             <div class="row">

            <div class="col-md-12 ">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Observaciones</h3>
                </div>
                <div class="panel-body"> 
                  <p class="text-justify">{{reporte_ini.observ}}</p>
                </div>
              </div>
            </div>

            <div class="col-md-12 "> 
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Riesgos</h3>
                </div>
                <div class="panel-body">
                  <p class="text-justify">{{reporte_ini.riesgos}}</p>
                </div>
              </div>
            </div>

 </div>
             <div class="row">
            <div class="col-md-6 ">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Factibilidad</h3>
                </div>
                <div class="panel-body">
                  <div class="progress">
                    <div id="factibilidad" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 "> 
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Complejidad</h3>
                </div>
                <div class="panel-body">
                    <div class="progress">
                    <div id="complejidad" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" id="submit-button" {{action 'save'}} class="btn btn-primary">Procesar</button>
      </div>
    </div>
  </div>
</div>



<!-- ModalDetalle -->
<div class="modal fade " id="myModalDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Solicitud código</h4>
        <small class="form-text text-muted">{{solicitud.codigo}}</small>
      </div>
      <div class="modal-body">
          
          <div class="row">

            <div class="col-md-6 ">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Persona que atendió visita</h3>
                </div>
                <div class="panel-body">
                  <dl class="dl-horizontal">
                    <dt>Nombre - Cargo</dt> <dd>{{reporte_ini.persona_a}} - {{reporte_ini.cargo_a}}</dd>
                    <!--<dt>Cargo</dt> <dd>{{reporte_ini.cargo_a}}</dd>-->
                  </dl> 
                </div>
              </div>
            </div>

            <div class="col-md-6 "> 
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Técnico</h3>
                </div>
                <div class="panel-body">
                  <dl class="dl-horizontal">
                    <dt>Nombre</dt> <dd>{{reporte_ini.nombre_t}}</dd>   
                  </dl>
                </div>
              </div>
            </div>
              </div>
             <div class="row">
            <div class="col-md-12 ">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Detalles Visita</h3>
                  <small class="form-text"><strong>fecha solicitud {{solicitud.f_sol}}</strong></small>
                </div>
                <div class="panel-body">
                  <p>{{reporte_ini.desc}}</p>
                </div>
              </div>
            </div>

             </div>
             <div class="row">

            <div class="col-md-12 ">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Observaciones</h3>
                </div>
                <div class="panel-body"> 
                  <p>{{reporte_ini.observ}}</p>
                </div>
              </div>
            </div>

            <div class="col-md-12 "> 
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Riesgos</h3>
                </div>
                <div class="panel-body">
                <p>{{reporte_ini.riesgos}}</p>
                </div>
              </div>
            </div>

 </div>
             <div class="row">
            <div class="col-md-6 ">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Factibilidad</h3>
                </div>
                <div class="panel-body">
                  <div class="progress">
                    <div id="factibilidad" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 "> 
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Complejidad</h3>
                </div>
                <div class="panel-body">
                    <div class="progress">
                    <div id="complejidad" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" id="submit-button" {{action 'save'}} class="btn btn-primary">Procesar</button>
      </div>
    </div>
  </div>
</div>