{{logged-header-component currentName=currentName }}
 <div class="container-fluid">
        <div class="row">
        
          <div class="col-lg-2  ">
            <h2>Servicios</h2>
          </div>

          <div class="col-lg-4 ">
            <h2>
              <div class="input-group">
                 {{input name="serv" id="serv" type="text" class="form-control" placeholder="Buscar servicio"}}
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
              </div>
            </h2>
          </div>

          <div class="col-lg-1 ">
             <h2>
              <div class="input-group">
                  <select class="form-control" name="page" id="page">
                <option value="1">1</option>
               <option value="25">25</option>
               <option value="50">50</option>
               <option value="100">100</option>
              </select>
              </div>
            </h2>

          </div>
          <div class="col-lg-4">
            <div class="alert alert-success" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Creado!</strong> Servicio creado exitosamente.
            </div>
          </div>
          <div class="col-lg-1 ">
            <h2>
              <button class="btn btn-primary" {{action 'openModal' 'false'}} type="submit">Crear</button>

            </h2>
          </div>

        </div>


<div class="row ">
	{{coordinador-sidebar-component}}
	<div class="col-md-10">
		   <table class="table table-bordered table-hover" id="tabla">	
        	<thead class="header-tabla">
        		<tr>
				    <th class="tg-yw4l">Codigo</th>
				    <th class="tg-yw4l">Descripci贸n</th>
				    <th class="tg-yw4l">Precio Actual</th>
				    <th class="tg-yw4l">Fecha Actualizaci贸n</th>
				    <th class="tg-yw4l">Editar</th>
  				</tr>
  			</thead>
  			<tbody id="tbody" class="text-center">
  			{{#each servicios as |servicio|}}
  				<tr>
					<td class="col-tabla">{{servicio.codigo}}</td>
					<td class="col-tabla"><{{servicio.desc}}</td>
					<td class="col-tabla">{{servicio.precio_act}}</td>
					<td class="col-tabla">{{servicio.f_act}}</td>
					<td class="col-tabla"><button {{action 'openModal' 'true' servicio}} class="btn btn-default btn-xs">editar</button></td>
				</tr>
			{{/each}}
 			</tbody>
		</table>
	</div>
</div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registrar Servicio</h4>
        <small class="form-text text-muted">* Campos requeridos</small>
      </div>
      <div class="modal-body">
       		
      	<form  id="formulario">
      		<div class="row">
      			<div class="col-md-6">
					<div class="form-group">
						<label>Codigo</label><small class="form-text text-muted">* </small>
						<div class="input-group">
						  {{input name="codigo" id="codigo" type="text" class="form-control" placeholder="Codigo servicio" value=servicio.codigo}}
						  <span class="input-group-addon">{{fa-icon "user"}}</span>
						</div>

					</div>
				</div>

				<div class="col-md-6">
				<div class="form-group">
					<label>Precio Actual</label><small class="form-text text-muted">* </small>
					<div class="input-group input-group">
					  {{input name="precio_act" type="text" class="form-control" placeholder="Precio actual del servicio" value=servicio.precio_act}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-12">
				<div class="form-group">
					<label>Descripci贸n</label><small class="form-text text-muted">* </small>
					<div class="input-group input-group">
					  {{bs-textarea  name="desc" type="text" class="form-control" placeholder="Descripci贸n del servicio" value=servicio.desc}}
					  <span class="input-group-addon">{{fa-icon "info"}}</span>
					</div>
				</div>
				</div>		
			</div>
		</form>
      </div>
      <div class="modal-footer">   
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" id="submit-button" {{action 'save'}} class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>