{{logged-header-component currentName=currentName }}
 <div class="container-fluid">
        <div class="row">
        
          <div class="col-lg-2  ">
            <h2>Técnicos</h2>
          </div>

          <div class="col-lg-4 ">
            <h2>
              <div class="input-group">
                 {{input name="filtro" id="filtro" type="text" class="form-control" placeholder="Buscar tecnico" value=filtro}}
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
              </div>
            </h2>
          </div>

          <div class="col-lg-2 ">
            <h2>
              <div class="input-group" aria-describedby="basic-addon2">
                <select class="form-control" name="page" id="page">
                  <option value="1">1</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>   
                <span class="input-group-addon" id="basic-addon2">Tam. Pag.</span>
              </div>
            </h2>
          </div>


        </div>

    <div class="row ">
		{{coordinador-sidebar-component}}
		<div class="col-md-10">
			   <table class="table table-bordered table-hover table-condensed" id="clientes">	
	        	<thead class="header-tabla">
	        		<tr>
					    <th class="col-md-1" {{action "ordenarPor" "ci"}}>Cédula<span id="th-ci" class="glyphicon glyphicon-chevron-down"></span></th>
					    <th class="col-md-3" {{action "ordenarPor" "nombre"}}>Nombre<span id="th-nombre" class="glyphicon glyphicon-chevron-down"></span></th>
					    <th class="col-md-2">Correo</th>
					    <th class="col-md-1">Tlf</th>
					   <th class="col-md-1" {{action "ordenarPor" "disponible"}}>Disponible<span id="th-disponible" class="glyphicon glyphicon-chevron-down"></span></th>
					    <th class="col-md-1">Proyectos</th>

	  				</tr>
	  			</thead>
	  			<tbody id="tbody" class="text-center">
	  			{{#each filter as |tecnico|}}
	  				<tr>
						<td class="col-tabla"><{{tecnico.ci}}</td>
						<td class="col-tabla">{{tecnico.nombre}} </td>
						<td class="col-tabla"><{{tecnico.correo}} </td>
						<td class="col-tabla"><{{tecnico.tlf}}</td>
						<td class="col-tabla">{{tecnico.disponible}}</td>
						<td class="text-center"><button {{action 'openModalTecnico' tecnico}} class="btn btn-default btn-xs">ver</button></td>
					</tr>
				{{/each}}
	 			</tbody>
			</table>
			<div class="text-center">
		     <ul id="pagination" class="pagination-sm"></ul>
		    </div>
		</div>
	</div>


</div>



<!-- Modal -->
<div class="modal fade " id="myModalTecnico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Técnico Proyectos</h4>
        <small class="form-text text-muted">{{tecnico.nombre}}, V-{{tecnico.ci}}</small>
      </div>
      <div class="modal-body">

        <div class="well jumbo-color">
            <div class="row">
                <div class="col-md-12 ">
                  	<div class="panel panel-default">
	                  	<div class="panel-body">
	                  		<table class="table table-bordered table-hover table-condensed" id="tecnico_proyectos">	
					        	<thead class="header-tabla">
					        		<tr>
									    <th class="col-md-1">Código Proyecto</th>
									    <th class="col-md-2">Nombre</th>
					  				</tr>
					  			</thead>
					  			<tbody id="tbody" class="text-center">
					  			{{#each tecnico.proyectos as |proyecto|}}
					  				<tr>
										<td class="col-tabla"><{{proyecto.codigo_pro}}</td>
										<td class="col-tabla"><{{proyecto.nombre_pro}}</td>
									</tr>
								{{/each}}
					 			</tbody>
							</table>
						</div>
					</div>
                </div>
        	</div>
        </div>
    	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" id="submit-button" {{action 'save'}} class="btn btn-primary">Procesar</button>
      </div>
    </div>
  </div>
</div>