{{logged-header-component currentName=currentName }}
<div class="container-fluid">
        <div class="row">
        
          <div class="col-lg-2  ">
            <h2>Materiales</h2>
          </div>

          <div class="col-lg-3 ">
            <h2>
              <div class="input-group">
                 {{input name="filtro" id="filtro" type="text" class="form-control" placeholder="Filtrar material" value=filtro}}
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
              </div>
            </h2>
          </div>

          <div class="col-lg-2 ">
            <h2>
              <div class="input-group" aria-describedby="basic-addon2">
                <select class="form-control" name="page" id="page">
                  <option value="1">1</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>   
                <span class="input-group-addon" id="basic-addon2">Tam. Pag.</span>
              </div>
            </h2>
          </div>

           <div class="col-lg-4">
            <div id="alert" class="alert alert-success hidden" role="alert">
              <strong>{{alert.strong}}!</strong> {{alert.msg}}
            </div>
          </div>

          <div class="col-lg-1 ">
            <h2>
              <button class="btn btn-primary" {{action 'openModal' 'false'}} type="submit">Crear</button>
            </h2>
          </div>

        </div>

        <div class="row ">
		{{almacen-sidebar-component}}
			<div class="col-md-10">
		    <table class="table table-bordered table-hover " id="tabla">	
        		<thead class="header-tabla">
	        		<tr>
					    <th {{action "ordenarPor" "codigo"}}>Codigo <span id="th-codigo" class="glyphicon glyphicon-chevron-down"></span></th>
					    <th {{action "ordenarPor" "nombre"}}>Nombre <span id="th-nombre" class="glyphicon glyphicon-chevron-down"></span></th>
					    <!--<th{{action "ordenarPor" "presen"}} >Presentación <span id="th-presen" class="glyphicon glyphicon-chevron-down"></span></th>-->
					    <!--<th{{action "ordenarPor" "serial"}} >Serial<span id="th-serial" class="glyphicon glyphicon-chevron-down"></span></th>-->
					    <th{{action "ordenarPor" "marca"}} >Marca<span id="th-marca" class="glyphicon glyphicon-chevron-down"></span></th>
					    <!--<th{{action "ordenarPor" "dim"}} >Dimensiones<span id="th-dim" class="glyphicon glyphicon-chevron-down"></span></th>-->
					    <th{{action "ordenarPor" "cantidad"}} >Cantidad<span id="th-cantidad" class="glyphicon glyphicon-chevron-down"></span></th>
					    <th{{action "ordenarPor" "precio_act"}} >Precio actual <small class="form-text text-muted">F.Act</small><span id="th-precio_act" class="glyphicon glyphicon-chevron-down"></span></th>
					   <!-- <th{{action "ordenarPor" "f_act"}} >Fecha Actualización<span id="th-f_Act" class="glyphicon glyphicon-chevron-down"></span></th>-->
					   	<th>Detalles</th>
					    <th>Proveedores</th>
					    <th>Editar</th>
	  				</tr>
  			</thead>
  			<tbody id="tbody" class="text-center">
  			{{#each filter as |material|}}
  				<tr>
					<td class="col-tabla">{{material.codigo}}</td>
					<td class="col-tabla"><{{material.nombre}}</td>
					<td class="col-tabla">{{material.marca}}</td>
					<td class="col-tabla">{{material.cantidad}}</td>
					<td class="col-tabla">{{material.precio_act}} <br> <small class="form-text text-muted"> act: {{material.f_act}} </small></td>
          			<td class="col-tabla"><button {{action 'openModal' 'true' material}} class="btn btn-default btn-xs">ver</button></td>
          			<td class="col-tabla"><button {{action 'openModal' 'true' material}} class="btn btn-default btn-xs">ver</button></td>
					<td class="col-tabla"><button {{action 'openModal' 'true' material}} class="btn btn-default btn-xs">editar</button></td>
				</tr>
			{{/each}}
 			</tbody>
			</table>
	    	<div class="text-center">
	     		<ul id="pagination" class="pagination-sm"></ul>
	    	</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registrar Material</h4>
        <small class="form-text text-muted">* Campos requeridos</small>
      </div>
      <div class="modal-body">
       		
      	<form  id="formulario">
      		<div class="row">
      			<div class="col-md-6">
					<div class="form-group">
						<label>Codigo</label><small class="form-text text-muted">* </small>
						<div class="input-group">
						  {{input name="codigo" id="codigo" type="text" class="form-control" placeholder="Codigo material" value=material.codigo}}
						  <span class="input-group-addon">{{fa-icon "user"}}</span>
						</div>

					</div>
				</div>

				<div class="col-md-6">
				<div class="form-group">
					<label>Serial</label><small class="form-text text-muted"> </small>
					<div class="input-group input-group">
					  {{input name="serial" type="text" class="form-control" placeholder="Serial del material" value=material.serial}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-6">
				<div class="form-group">
					<label>Nombre</label><small class="form-text text-muted">* </small>
					<div class="input-group input-group">
					  {{input name="nombre" type="text" class="form-control" placeholder="Nombre del material" value=material.nombre}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-6">
				<div class="form-group">
					<label>Descripción</label><small class="form-text text-muted"></small>
					<div class="input-group input-group">
					  {{input name="desc" type="text" class="form-control" placeholder="Descripción del material" value=material.desc}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-6">
				<div class="form-group">
					<label>Presentación</label><small class="form-text text-muted"> </small>
					<div class="input-group input-group">
					  {{input name="presen" type="text" class="form-control" placeholder="Presentación del material" value=material.presen}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-6">
				<div class="form-group">
					<label>Color</label><small class="form-text text-muted"> </small>
					<div class="input-group input-group">
					  {{input name="color" type="text" class="form-control" placeholder="Color del material" value=material.color}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-6">
				<div class="form-group">
					<label>Precio Actual</label><small class="form-text text-muted">* </small>
					<div class="input-group input-group">
					  {{input name="precio_act" type="text" class="form-control" placeholder="Precio actual del material" value=material.precio_act}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-6">
				<div class="form-group">
					<label>Cantidad</label><small class="form-text text-muted">* </small>
					<div class="input-group input-group">
					  {{input name="cantidad" type="text" class="form-control" placeholder="Cantidad de material" value=material.cantidad}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-6">
				<div class="form-group">
					<label>Marca</label><small class="form-text text-muted">* </small>
					<div class="input-group input-group">
					  {{input name="marca" type="text" class="form-control" placeholder="Marca del material" value=material.marca}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-6">
				<div class="form-group">
					<label>Modelo</label><small class="form-text text-muted"> </small>
					<div class="input-group input-group">
					  {{input name="modelo" type="text" class="form-control" placeholder="Modelo del material" value=material.modelo}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-4">
				<div class="form-group">
					<label>Alto</label><small class="form-text text-muted"> </small>
					<div class="input-group input-group">
					  {{input name="alto" type="text" class="form-control" placeholder="Alto del material" value=material.alto}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-4">
				<div class="form-group">
					<label>Largo</label><small class="form-text text-muted"></small>
					<div class="input-group input-group">
					  {{input name="largo" type="text" class="form-control" placeholder="Largo del material" value=material.largo}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>

				<div class="col-md-4">
				<div class="form-group">
					<label>Ancho</label><small class="form-text text-muted"> </small>
					<div class="input-group input-group">
					  {{input name="ancho" type="text" class="form-control" placeholder="Ancho del material" value=material.ancho}}
					  <span class="input-group-addon">{{fa-icon "money"}}</span>
					</div>
				</div>
				</div>
	
			</div>
		</form>
      </div>
      <div class="modal-footer">   
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" id="submit-button" {{action 'save'}} class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>